<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Projects/Autotest/Maven/TaskReportTest">
        <classes>
            <class name="quantumart.TaskReportTest">
                <methods>
                    <include name="TitleTest"/>
<!--                    <include name="CloseNotificationTest"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>